.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

#webview {
    width: 100%;
    height: 100%;
}
